/* Custom styles for Wally docs */

/* Hero image styles */
.hero img {
  width: 800px;
  height: auto;
  max-width: 250%;
  transform: translateX(-35%);
}

/* Responsive styles for mobile devices */
@media (max-width: 768px) {
  .hero img {
    width: 400px !important;
    max-width: 140% !important;
    transform: translateX(-15%) !important;
  }
}
